body {
    font-family: Arial, sans-serif;
    background-image: url('weather.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 105px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#icon {
    width: 50px;
    height: 50px;
}

p {
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 2rem;
    padding: 1rem 0;
    width: 100%;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: none;
}

#error{
    display: none;
    color: rgb(224, 107, 107);
    background-color: white;
    text-transform: capitalize;
    padding: 1rem;
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left {
    text-align: left;
}

#location {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.humidity-cls {
    color: rgb(88, 87, 87);
    margin-bottom: .2rem;
    font-size: 12px;
}

.wind-cls {
    color: rgb(88, 87, 87);
    font-size: 12px;
}